@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'roboto', sans-serif;
  }

  .p-34 {
    padding: 4rem 8.5rem 4rem 8.5rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.37rem;
  }

}
