@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Anonymous Pro', monospace;
  }

  .color-text {
    
  }

  .p-34 {
    padding: 4rem 8.5rem 4rem 8.5rem;
  }

  .gap-2 {
    gap: 2rem;
  }

}
